<%-include("header");-%>
<h2>This Is a beautifull page to handle yours daily to do list</h20>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum reprehenderit minima quia quidem adipisci alias ipsa dolorum consequatur deserunt quam, maxime, nemo perspiciatis? Inventore, commodi nam repudiandae quod repellendus sunt?</p>
<%-include("footer");-%>
